body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Разместить элементы вертикально */
    justify-content: space-between; /* Пространство между блоками */
    align-items: center;
    min-height: 100vh; /* Гарантируем, что body занимает всю высоту */
    margin: 0;
    padding: 0;
}

header, footer {
    width: 100%; /* Занимают всю ширину */
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto; /* Центрируем блок */
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"], input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}
