body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота экрана */
    display: flex; /* Flexbox для выравнивания */
    flex-direction: column; /* Разместить элементы вертикально */
    justify-content: space-between; /* Пространство между блоками */
    align-items: center;
    min-height: 100vh; /* Гарантируем, что body занимает всю высоту */

}

.profile-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.profile-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}


.profile-container .form-group {
    margin-bottom: 15px;
    text-align: center; /* Выравнивание текста по левому краю */
}

.logout-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #45a049;
}

/* Стили для контейнера профиля */
.profile-container {
    max-width: 600px; /* Ограничиваем максимальную ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Стили для аватарки */
.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Стили для текстовых данных */
.profile-container p {
    margin: 10px 0;
    font-size: 16px;
}

/* Стили для формы изменения профиля */
.profile-container form {
    margin-top: 20px;
}

.profile-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-container input[type="file"],
.profile-container textarea {
    width: 100%; /* Занимает всю ширину контейнера */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
}

.profile-container .update-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-container .update-button:hover {
    background-color: #45a049;
}

/* Стили для кнопки удаления аккаунта */
.delete-account-button {
    width: 100%;
    padding: 10px;
    background-color: #f44336; /* Красный цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.delete-account-button:hover {
    background-color: #d32f2f; /* Темно-красный цвет при наведении */
}
