body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота экрана */
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Разместить элементы вертикально */
    justify-content: space-between; /* Пространство между блоками */
    align-items: center;
    min-height: 100vh; /* Гарантируем, что body занимает всю высоту */
}

.register-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 95%; /* Аналогично стилям логина */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

#teacherCodeField {
    display: none;
}
